@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<section id="about" class="py-5">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Who we are</h5>
                <p class="lead">We are Cloud Footwear. A premium shoe store that gives you the highest quality shoes, at the best price. Here at Cloud Fitness our motto is "Like walking on air." because we truly believe that every shoe we sell is the best combination of comfort, performance, and style. We know you'll find something you'll love in our amazing selection of top brands.</p>
                <p class="lead">Wether you're a running chasing that new personal best, a hooper looking to bring your style to the court, or just a certified sneaker head, Cloud Footwear has it all and a little more. It doesn't end there, for every shoe purchased Cloud Footwear donates 2% of all purchases towards reducing CO2 emissions so we can keep our clouds clean. So you're doing you part to help the environment and look real good doing it.</p>
            </div>
            <div class="col-md-6">
                <img src="https://source.unsplash.com/random/700x700/?shoes" alt="#" class="img-fluid rounded-circle d-none d-md-block about-img">
            </div>
        </div>
    </div>
</section>


<section id="testimonials" class="pt-3">
    <div class="container">
        <h2 class="">Customer Testimonials</h2>
        <div class="row">
            <div class="col">
                <div class="slider">
                    <div>
                        <blockquote class="blockquote">
                            <p class="mb-0">
                                "Shoes arrived on time and omg they are soooo comfortable. I'll only be shopping from Cloud Footwear from now on. Love it! Already planning out my next purchase."
                            </p>
                            <footer class="text-dark pb-3 blockquote-footer text-white">Kelli Nunez from <cite title="Location-1">Arizona</cite></footer>
                        </blockquote>

                        <blockquote class="blockquote">
                            <p class="mb-0">
                                "Shoes fit amazing, and honestly I don't know if I'm crazy but I feel faster already. They aren't lying it really is like walking on air."
                            </p>
                            <footer class="text-dark pb-3 blockquote-footer text-white">Evan Hood from <cite title="Location-1">Florida</cite></footer>
                        </blockquote>

                        <blockquote class="blockquote">
                            <p class="mb-0">
                                "Had an issue with one of my shoes arriving late and customer service was amazing, they hooked me up with a free coupon and the shoes were amazing. Definitely going to buy from Cloud again."
                            </p>
                            <footer class="text-dark pb-3 blockquote-footer text-white">Thomas Braxton from <cite title="Location-1">New York</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

