@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - FinalProject</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/business-frontpage.css" rel="stylesheet">
</head>
<body>

    <header class="bg vh-100 py-5 mb-5" style="background-size: cover; background-repeat:no-repeat; background-image: url('https://images.unsplash.com/photo-1506544777-64cfbe1142df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80') ">
        <div class="container h-100">
            <div class="row h-100 align-items-baseline">
                <div class="col-lg-12">
                    <h1 class="display-4 text-white mt-5 mb-2">CLOUD FOOTWEAR</h1>
                    <p class="lead ml-5 mb-5 text-white">Like walking on air.</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5">
                <h2>Latest Trends</h2>
                <hr>
                <p>Shoes like no other. Here at Cloud Footwear we proud ourselves on providing you the highest quality at the best price, with all the brands you know and love.</p>
                <p>It really is like walking on air. Don't believe us? Take a look.</p>
                <a class="btn btn-outline-info btn-lg" href="Product/List">Shop &raquo;</a>
            </div>
            <div class="col-md-4 mb-5">
                <h2>Online Support</h2>
                <hr>
                <address>
                    <strong>Contact Our Representatives</strong>
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>
                    (123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr>
                    <a href="mailto:#">support@cloudfootwear.com</a>
                </address>
                <p>Representatives are available for contact during our regular business hours.</p>
                <p>Monday - Friday: 11:00 AM - 9:00 PM</p>
            </div>
            <div class="col-md-4 mb-5">
                <img class="img-fluid rounded-circle d-none d-md-block about-img" src="https://source.unsplash.com/random/680x680/?shoes" alt="Alternate Text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">FAQ</h4>
                        <p class="card-text">Click this link to view our most frequently asked questions.</p>
                    </div>
                    <div class="card-footer">
                        <a href="Home/Faq" class="btn btn-outline-warning">FAQ</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Privacy Policy</h4>
                        <p class="card-text">Click this link to view our privacy policy.</p>
                    </div>
                    <div class="card-footer">
                        <a href="Home/Policies" class="btn btn-outline-danger">Find Out More!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Highest Quality. Best Price.</h4>
                        <p class="card-text">Cloud Footwear has you covered.</p>
                    </div>
                    <div class="card-footer">
                        <a href="Product/List" class="btn btn-outline-secondary">Shop</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
