@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>Date: April 17, 2021</h4>

<p>
    The most significant data protection legislation, General Data Protection Regulation (GDPR) by European Union will come into force on May 25, 2018, replacing the 1995 Data Protection Directive. Today, we are updating our privacy policy which has been specifically moderated to reflect the new regulation.

    Cloud Footwear Development Group (We, Website, Us, Cloud Footwear) is a community of developers, programmers and IT professionals. We recognize our users and members (you, users, members, visitors) as our biggest asset, strive to provide them a quality service and are committed to respect their personal information and protecting it from any harm.
</p>
<h5>1. Information Collection and Use</h5>
<p>
    By visiting this website, you consent to the collection and use of your Personal Data as described herein. If you do not agree with the terms set out herein, please do not visit this website. Wherever required by applicable law, we will seek your explicit consent to process Personal Data collected on this website or volunteered by you. Kindly note that any consent will be entirely voluntary. However, if you do not grant the requested consent to the processing of your Personal Data, the use of this website may not be possible.

    The information we collect may include your email, name, address, phone number, business name, and address. We may also ask you to provide us with information regarding your personal or professional interests, demographics, and education. We use your information to understand you better and improve our services.

    If you have subscribed to our newsletter and/or notifications, you may receive our newsletter and notifications from time to time. We may also use your information for our marketing research to understand the demographics and other preferences of our users. To protect a great respect for our users and do not share, sell, or rent your personal information to others unless we have your permission or are required by law.

    Cloud Footwear may collect, record and analyze information of Visitors to its website. We may record your IP address and use cookies. We may add information collected by way of pageview activity. Furthermore, the website may collect and process any Personal Data that you volunteer to us in our website’s forms, such as when you register for events or sign up for information and newsletters. If you provide us with your social media details, we may retrieve publicly available information about you from your social media profile.

    Cloud Footwear gathers data about visits to the website, including numbers of Visitors and visits, Geo-location data, length of time spent on the site, pages clicked on or where Visitors have come.

    If you ever have concerned about sharing your information, please send us the email at support@cloudfootwear.com.
</p>

<h5>2. Purpose of processing personal data</h5>
<p>
    Cloud Footwear uses the collected personal data to communicate with visitors, to customize content for them, to show their contribution on the website, to promote their posts on various social media channels, to send them necessary information and notifications, and to improve the website browsing experience for visitors while they are visiting the website by analyzing how they navigate through it.
</p>

<h5>3. Information Storage and Security </h5>
<p>We are committed to ensuring the security of your information. To prevent unauthorized access or disclosure, maintain data accuracy, and ensure the appropriate use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. We use encryption when collecting or transferring sensitive data online including emails and words.</p>

<h5>4. Further Information</h5>
<p>If you have any further questions regarding the data collection, or how we use it, then please feel free to contact us by email at: support@cloudfootwear.com.</p>

