<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cloud Footwear</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
    <script src="https://kit.fontawesome.com/683af5ba65.js"></script>
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-cloud"></i> Footwear</a>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark border-left border-right" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark border-right" asp-area="" asp-controller="Product" asp-action="List">Shoes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark border-right" asp-area="" asp-controller="Home" asp-action="BusinessInfo">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark border-right" asp-area="" asp-controller="Home" asp-action="Faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark border-right" asp-area="" asp-controller="Home" asp-action="Policies">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark border-right" asp-area="" asp-controller="Account" asp-action="Create">Create Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark border-right" asp-area="" asp-controller="Account" asp-action="Index">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark border-right" asp-area="" asp-controller="Order" asp-action="List">Orders</a>
                        </li>
                    </ul>
                </div>
                <div class="float-right">
                    @await Component.InvokeAsync("CartSummary")
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-4">
        <div class="container mt-2">
            &copy; 2021 - FinalProject - <a asp-area="" asp-controller="Home" asp-action="Policies">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
